
body{
background-color: pink;
}





h3{
	color:red;
}
h1{
	color:black;
}







.picture2{
	color:black;
}

#h1{
	color:gray;
}


<style>
b { 
  font-weight: bold;
}
</style>





.h4{
	background-color:black;
	height: 100px;
}





